<ul class="contact">
    <li>
        <span id="eeb-674867-207741"></span>
        <script type="text/javascript">
            (function () {
                var ml = "kln-3Egfi2Fpo%hw0AameCs4.rtcD",
                    mi = "=4EB=9@>ID7=4L=99CB81J<=4A?<I0=G@F;D2KDI71B66HK<C=99=9@K1BFF=4L=99CB8131820=99=45?<I0=G@F;D2KDI71B66HK<C=4E=9:B=45",
                    o = "";
                for (var j = 0, l = mi.length; j < l; j++) {
                    o += ml.charAt(mi.charCodeAt(j) - 48);
                }
                document.getElementById("eeb-674867-207741").innerHTML = decodeURIComponent(o);
            }());
        </script>
        <noscript>*protected email*</noscript>
    </li>
    <li>
        <a href="tel:+15182076939">
            <span>+1.518.207.6939</span>
        </a>
    </li>
    <li>
        <button class="btn" id="show-button" onclick="copyText()">find me on NOSTR</button>
        <div id="input-container" style="display: none;">
            <textarea
                type="text"
                id="input-text"
                onclick="selectText()">npub1skj3cm05l26sjg8w8lxa5z4k6kueh0mccykp6zchf2wacu7mslfsney3cq</textarea>
                <button class="btn" onclick="copyToClipboard()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-copy"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="var(--c-text)"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <rect x="8" y="8" width="12" height="12" rx="2"/>
                        <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"/>
                    </svg>
                </button>
            </div>
            <script>
                function selectText() {
                    document.getElementById("input-text").select();
                }
                function copyToClipboard() {
                    var copyText = document.getElementById("input-text");
                    copyText.select();
                    copyText.setSelectionRange(0, 99999); // For mobile devices
                    document.execCommand("copy");
                    // alert("Copied to clipboard: " + copyText.value);
                    document
                        .getElementById("input-container")
                        .style
                        .display = "none";
                    document
                        .getElementById("show-button")
                        .style
                        .display = "flex";
                    document.getElementById("show-button").innerHTML = `
                        pubkey copied <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--c-text)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                            <rect x="9" y="3" width="6" height="4" rx="2" />
                            <path d="M9 14l2 2l4 -4" />
                        </svg>
                    `;
                    document
                        .getElementById("show-button")
                        .classList
                        .add("nostr-copied");
                }
                function copyText() {
                    document
                        .getElementById("input-container")
                        .style
                        .display = "flex";
                    document
                        .getElementById("show-button")
                        .style
                        .display = "none";
                    selectText();
                }
            </script>
        </li>
    </ul>