<header>
    <h2 class="left">
        designer / developer
    </h2>
    <h1>
        {# Loremip Sumpr #}
        Spencer Flagg
    </h1>
    <h2 class="right">
        est. 2007
    </h2>
    <ul class="menu">
        <li>
            <a id="button-freelance-work" >Freelance Work {% include "components/corner-right-down.svg" %}</a>
        </li>
        <li>
            <a id="button-personal-projects">Personal Projects {% include "components/corner-right-down.svg" %}</a>
        </li>
        <li>
            <a id="button-personal-projects" href="https://registry.jsonresume.org/spencerflagg" target="_blank">Resume | CV {% include "components/external-link.svg" %}</a>
        </li>
    </ul>
</header>