<h3 id="freelance-work">
    Freelance Work
</h3>
<ul class="projects">
    {% for project in projects %}
        {% if project.type == "client" %}
            {% include "components/project.njk" %}
        {% endif %}
    {% endfor %}
</ul>
<h3 id="personal-projects">
    Personal Projects
</h3>
<ul class="projects">
    {% for project in projects %}
        {% if project.type == "personal" %}
            {% include "components/project.njk" %}
        {% endif %}
    {% endfor %}
</ul>
<button id="back-to-top" class="btn">{% include "components/arrows-up.svg" %}{% include "components/arrows-up.svg" %}</button>