<li class="project" id="{{ project.slug }}">
    <a class="project__image-wrapper" href="{{ project.link }}"><img class="project__image" src="./assets/images/{{ project.slug }}.png" alt=""></a>
    <div class="project__content">
        <label>company</label>
        <div class="content__field"><strong>{{ project.company }}</strong></div>
        <label>project</label>
        <div class="content__field"><a href="{{ project.link }}">{{ project.project }}</a></div>
        <label>work</label>
        <div class="content__field">{{ project.work }}</div>
        <label>tech stack</label>
        <ul class="content__field tags">
            {% for tech in project.technologies %}
                <li class="tag">
                    <span>{{ tech }}</span>
                </li>
            {% endfor %}
            {% for tech in project['basic-technologies'] %}
                <li class="tag tag--basic">
                    <span>{{ tech }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</li>