---
title: "Spencer Flagg: Designer, Developer"
layout: layouts/base.njk
---

{% include "components/header.njk" %}
{% include "components/contact.njk" %}
{% include "components/list.njk" %}
<script defer src="{{ './assets/js/libraries/gsap.min.js' | url }}"></script>
<script defer src="{{ './assets/js/libraries/ScrollTrigger.min.js' | url }}"></script>
<script defer src="{{ './assets/js/libraries/ScrollSmoother.min.js' | url }}"></script>
<script defer src="{{ './assets/js/libraries/DrawSVGPlugin.min.js' | url }}"></script>
<script defer src="{{ './assets/js/libraries/CustomEase.min.js' | url }}"></script>
<script defer src="{{ './assets/js/landing.js' | url }}"></script>