@import "normalize";
@import "milligram";
@import "normalize-custom";
@import "tusker";

@import url("https://api.fonts.coollabs.io/css2?family=Cutive+Mono&display=swap");
@import url("https://api.fonts.coollabs.io/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  scroll-behavior: unset;
  font-size: 2vmin;
  --c-bkg: #fff8f1;
  --c-text: #613100;
  --c-text-light: #997d63;
  --c-offset: #f0e8df;
  --c-offset-light: #f7f1eb;
  --c-bkg-pattern: #faf3eb;
  --shadow: 0px 0.5rem 0 var(--c-offset);
  --shadow-sm: 0px 0.1rem 0 var(--c-offset);
  --outside-padding: 3rem;
}

// h1, h2, span, label, .content__field {
//   text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
// }

h1 {
  text-shadow: var(--shadow);
}
h2 {
  text-shadow: var(--shadow-sm);
}

#content {
  background-color: var(--c-bkg);
  opacity: 0;
  filter: blur(10px);
  // background-image: url('../../assets/images/bkg.svg');
  // background-repeat: repeat;
  // background-size: 250px 250px;
  // background-blend-mode: color;
  // background-image: radial-gradient(var(--c-bkg-pattern) 9px, transparent 10px),
  //   repeating-radial-gradient(
  //     var(--c-bkg-pattern) 0,
  //     var(--c-bkg-pattern) 4px,
  //     transparent 5px,
  //     transparent 20px,
  //     var(--c-bkg-pattern) 21px,
  //     var(--c-bkg-pattern) 25px,
  //     transparent 26px,
  //     transparent 50px
  //   );
  // background-size: 30px 30px, 90px 90px;
  // background-position: 0 0;
}

html{
  background-color: var(--c-bkg);
}

body {
  color: var(--c-text);
  font-display: optional;
  font-family: "Cutive Mono", "Courier New", Courier, monospace;
}



svg{
  transition: all 0.2s ease-in-out;
}

.btn {
    display: flex;
    margin: 0;
    padding: 0.4rem 1rem;
    line-height: 1;
    align-items: center;
    height: auto;
    background: transparent;
    color: var(--c-text);
    border: .12rem solid var(--c-text);
    gap: 0.5rem;
    transition: all 0.2s ease-in-out;
    &:hover{
      background-color: var(--c-text);
      color: var(--c-offset);
      border: .12rem solid var(--c-text);
      svg {
        stroke: var(--c-offset);
      }
    }
}



h1 {
  font-display: optional;
  font-family: "Tusker Grotesk 2500";
  text-transform: uppercase;
  font-size: 15rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin-top: 7rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (3 * var(--outside-padding)) - (3.1 * 1rem));
  //height: calc(100vh - (2 * var(--outside-padding)));
  gap: 1rem;
  h2.left {
    align-self: flex-start;
  }
  h2.right {
    align-self: flex-end;
    margin-top: -1.5rem;
  }
}

.menu{
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  flex-direction: column;
  align-self: flex-start;

  li{
    border-inline-start: .5rem var(--c-text-light);
    padding-inline-start: .2rem;

    a{
      display: flex;
      align-items: flex-start;
      gap: .5rem;
      font-size: max(1rem, 16px);

    svg{
      height: .9rem;
      margin-top: .5em;
    }
    }
  }
}

.contact {
  //min-height: 25vh;
  width: 100vw;
  box-sizing: border-box;
  padding: var(--outside-padding);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--c-offset);
  gap: 2rem;
  z-index: 1;

  a{
    color: var(--c-text);
    text-decoration: underline;
    text-decoration-line: dotted;
    text-decoration-color: #6130002f;
    text-decoration-thickness: 0.05em;
    //text-decoration-style: dotted;
    text-underline-offset: .2em;
    transition: all 0.2s ease-in-out;
    &:hover{
      transform: scale(1.02);
    }
  }

  #input-container{
    gap: .5rem;
    align-items: stretch;
  }

  textarea {
    margin: 0;
    padding: 0.1rem 0.2rem;
    font-size: 1.1rem;
    line-height: 1;
    align-items: center;
    min-height: auto;
    max-width: calc(15ch + .4rem);
    background: transparent;
    color: var(--c-text);
    border: .12rem solid var(--c-text);

    &:focus {
      border: .12rem solid var(--c-text);
    }
  }
}

@media screen and (max-width: 970px) {
  header {
    height: calc(100vh - (3 * var(--outside-padding)) - (6.1 * 1rem));
  }
  // .contact {
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: center;
  // }
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: relative;
  min-height: 100vh;
  margin: 3rem;
  padding-bottom: 25rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .project {
    display: flex;
    gap: 1.5rem;
    transition: all 0.3s ease-in-out;
    position: relative;
    padding: 1rem 0;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
      z-index: -1;
      transition: all 0.4s ease-in-out;
      border-radius: 160px;
    }
    &:hover {
      //transform: translateX(-0.5rem);
      &::after {
        content: "";
        width: 100vw;
        left: calc((100vw - 100%) / -2);
        background-color: var(--c-offset-light);
        border-radius: 0;
      }

      // .project__image-wrapper {
      //   border-radius: 0;
      //   background-color: white;
      // }

      .project__image {
        border-radius: 0;
        filter: none;
        mix-blend-mode: normal;
        transform: scale(1.02);
      }
    }

    // .project__image-wrapper {
    //   border-radius: 1.5rem;
    //   background-color: #997d6322;
    //   transition: all 0.2s ease-in-out;
    // }

    .project__image {
      border-radius: 1.5rem;
      box-shadow: var(--shadow);
      border: 1px solid var(--c-text);
      transition: 0.2s all 0.5s ease-in-out;
      //filter: saturate(0) sepia(30%);
      filter: multiply(rgba(97, 49, 0, 0.6));
      max-width: none;
      width: 16rem;
    }

    .project__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      a {
        text-decoration: underline;
        //font-weight: 600;
        color: #613100;
      }

      label {
        font-size: max(0.5rem, 10px);
        font-display: optional;
        font-family: "Work Sans", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        line-height: clamp(12px, 1rem, 16px);
        color: var(--c-text-light);
      }
      .content__field {
        font-size: clamp(16px, 1rem, 24px);
        line-height: 1;
        margin-bottom: 0.5em;
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        .tag {
          background: var(--c-offset);
          padding: 0.2em 0.7em;
          border-radius: 0.4em;
        }
        .tag--basic {
          background: var(--c-offset-light);
        }
      }
    }
  }
}
